@model VMAllocation.Web.ViewModels.Home.AllocationResultViewModel
@{
    ViewBag.Title = "Result";
}
<div class="row">
    <h1 class="text-success">Congratulations! Result Processed Successfully!</h1>
</div>
<div class="row">
    <ol>
        @foreach (string result in Model.Results)   
        {
            <li style="white-space: pre-wrap;">@result</li>
        }       
    </ol>
</div>
<hr />
<div class="row">
    <p>Total Clouds: @Model.CloudSpecificationDetails.Count </p>
    <p>Clouds In Use: @Model.CloudsInUse</p>
    <p>Total Requests: @Model.UserRequirementDetails.Count </p>
    <p>Req FullFilled: @Model.ReqFullfilledPercentage %</p>
    <p>Average Distance Per Request: @Math.Round(Model.AverageDistancePerRequest, 2)</p>
    <p>Process Time: @(Model.ProcessTime / 10000) ms</p>
</div>
<hr/>

<div class="row">
    <h4>Utilisation percentage</h4>
    <ol>
        @foreach (string result in Model.UtilisationPercentage)
        {
            <li>@result</li>
        }
    </ol>
</div>
<hr />
<div class="row">
    <h2>Users Requirements</h2>
    @foreach (List<string> userRequirementDetail in Model.UserRequirementDetails)
    {
        <hr />
        <ul>
            @foreach (string req in userRequirementDetail)
            {
                <li>@req</li>
            }
        </ul>
    }
</div>

<div class="row">
    <h2>Cloud Specifications</h2>
    @foreach (List<string> cloudSpecificationDetail in Model.CloudSpecificationDetails)
    {
        <hr />
        <ul>
            @foreach (string spec in cloudSpecificationDetail)
            {
                <li>@spec</li>
            }
        </ul>
    }
</div>
